<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Country List</title>
    <!-- Bootstrap CSS for styling the table -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2 class="mt-5">Countries List</h2>
  <table class="table table-bordered table-striped mt-3">
      <thead class="thead-dark"> <!-- creates a dark background for the table header -->
          <tr>
              <th>Country</th>
              <th>Population</th>
          </tr>
      </thead>
      <tbody> <!-- table body -- loop through all of the countries -->
        {% for country in results %}
        <tr>
            <td>{{ country['Name'] }}</td>
            <td>{{ country['Population'] }}</td>
        </tr>
    {% endfor %}
      </tbody>
  </table>
</div>
</body>
</html>
